<html>
  <head>
  </head>
  <body>
    <div>
      <div align="right">
        ACME MegaCorp<br />
        Hauptstr. 10<br />
        Gro&szlig;stadt
      </div>
      <h3>Betreff: <font color="red">Rechnung</font></h3>
      <p>
        {{Anrede}},
      </p>
      <p>
        Bitte begleichen sie Ihre Rechnung in H&ouml;he von {{Betrag}} Euro.
      </p>
      <p>
      Mit freundlichen Gr&uuml;&szlig;en,<br />
      <strong>ACME MegaCorp<strong>
      </p>
    <div>
  </body>
</html>
