<html>
  <head>
  </head>
  <body>
    <div>
      <div align="right">
        ACME MegaCorp<br />
        Hauptstr. 10<br />
        Großstadt
      </div>
      <h3>Betreff: <font color="red">Rechnung</font></h3>
      <p>
        {{Anrede}},
      </p>
      <p>
        Bitte begleichen sie Ihre Rechnung in Höhe von {{Betrag}} €.
      </p>
      <p>
      Mit freundlichen Grüßen,<br />
      <strong>ACME MegaCorp<strong>
      </p>
    <div>
  </body>
</html>
